<md-toolbar>
    <button md-button md-icon-button (click)="toggleSidenav()">
        <md-icon>menu</md-icon>
    </button>
    {{ title }}
    <span class="flex"></span>
    <button md-button md-icon-button
        [mdMenuTriggerFor]="displaymenu">
        <md-icon>{{ display.icon }}</md-icon>
    </button>
    <md-menu #displaymenu="mdMenu">
        <button md-menu-item
            *ngFor="let option of displayOptions"
            (click)="setDisplay(option)">
            <md-icon>{{ option.icon }}</md-icon>
            {{ option.label }}
        </button>
    </md-menu>
</md-toolbar>

<div class="list-container">
    <md-nav-list *ngIf="display.value == 'list'">
        <md-list-item class="linky"
            *ngFor="let podcast of podcasts"
            routerLink="{{ podcast.id }}">
            <a>
                {{ podcast.name }}
            </a>
        </md-list-item>
    </md-nav-list>

    <md-grid-list *ngIf="display.value == 'grid'"
        cols="{{ display.size }}" gutterSize="8">
        <md-grid-tile *ngFor="let podcast of podcasts">
            <app-podcast-tile class="linky"
                [podcast]="podcast" 
                routerLink="{{ podcast.id }}"></app-podcast-tile>
        </md-grid-tile>
    </md-grid-list>
</div>
