@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500,700');

$font-size-default:  16px;
$font-size-headline: 22px;
$font-size-subhead:  14px;

$font-weight-normal:   400;
$font-weight-semibold: 500;
$font-weight-bold:     700;

$font-family-default: 'Roboto';
$font-family-accent:  'Roboto Slab';

html, body {
    font-family: $font-family-default;
    color: $contrast-color;
}
