<md-sidenav-container>
    <md-sidenav #sidenav>
        <md-nav-list>
            <a md-list-item
                *ngFor="let link of routingLinks"
                routerLink="{{ link.path }}"
                (click) = "sidenav.close()">
                <md-icon>{{ link.icon }}</md-icon> {{ link.label }}
            </a>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar>
        <button md-button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
    </md-toolbar>
    <router-outlet></router-outlet>
</md-sidenav-container>
