@import '../../sass/mixins/_mixins';
@import '../../sass/variables/_variables';

:host {
  @include flex();
  @include flex-container(column);

  .artwork-container {
    padding: $spacing-comfy * 2;
    @include flex-container(row, center);

    img {
      width: 100%;
    }

    .placeholder {
      width: 100%;
      display: inline-block;
      position: relative;
      &:after {
        padding-top: 100%;
        display: block;
        content: '';
      }
      .title {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $accent-color;
        color: #fff;
        font-size: $font-size-headline;
        @include flex-container(column, center);
      }
    }
  }

  .episode-list {
  }
}
