#app-sidenav {

  .md-sidenav-content {
    display: flex;
    @include flex-container(column);
    overflow: hidden;
  }

  md-sidenav {
    a:focus {
      outline: none;
    }
    md-icon {
      margin-right: $spacing-comfy;
    }
  }

}
